<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mycomposecookbook">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hasFragileUserData="true"
        android:icon="@drawable/jetpack"
        android:label="@string/app_name"
        android:roundIcon="@drawable/jetpack"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyComposeCookBook"
        tools:targetApi="31">
        <activity
            android:name=".screen.scopedstorage.ScopedStorageActivity"
            android:exported="true"
            android:theme="@style/Theme.MyComposeCookBook">


        </activity>

        <activity
            android:name=".screen.insta.MessageScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <activity
            android:name=".screen.insta.ProfileScreen"
            android:exported="true"
            android:theme="@style/Theme.MyComposeCookBook">


        </activity>


        <activity
            android:name=".screen.auth.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".example.WorkManagerExampleActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight">

        </activity>

        <activity
            android:name=".screen.IntoActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".screen.canvas.CanvasActivity"
            android:exported="true">


        </activity>

        <activity
            android:name=".screen.scopedstorage.MediaSelectionActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- <provider
             android:name=".screen.scopedstorage.MyCloudProvider"
             android:authorities="com.example.mycloudprovider"
             android:exported="true"
             android:grantUriPermissions="true"
             android:permission="android.permission.MANAGE_DOCUMENTS"
             android:enabled="true">
             <intent-filter>
                 <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
             </intent-filter>
         </provider>-->

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>